{% extends "index.html" %}

{% block content %}
<h3>What is this?</h3>
<p>
    A simple Markdown to HTML converter built with Flask and Bootstrap. Built using the official <a href="https://www.markdownguide.org/basic-syntax/">Markdown Guide conventions</a>.
</p>
<br>
<h3>How does it work?</h3>
<p>
    Click on the Editor button in the top right and start typing Markdown in the text box; the output will automatically be displayed on the right-hand side.
    When you're satisfied with your Markdown, just copy-paste it to wherever it needs to go!
</p>
{% endblock %}
