{% extends "index.html" %}

{% block content %}
<div class="row" style="height: 94vh;">
  <div class="col-md-6 d-flex flex-column">
    <textarea placeholder="Enter some text here!" id="markdown-input" class="form-control flex-grow-1" style="min-height: 100%;"></textarea>
  </div>
  <div class="col-md-6 d-flex flex-column position-relative">
    <div id="html-output" class="output flex-grow-1 border border-secondary rounded-0 p-2 mt-0">Your output goes here...</div>
  </div>
</div>
{% endblock %}
