{% extends "index.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <textarea id="markdown-input" class="form-control bg-light" placeholder="Enter Markdown text..." rows="20"></textarea>
    </div>
  </div>
  <div class="col-md-6">
    <div id="html-output" class="output" style="min-height: 20em;"></div>
  </div>
</div>

<script>
  document.getElementById('markdown-input').addEventListener('input', function() {
    const markdownText = this.value;
    fetch('/convert', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ markdown: markdownText })
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('html-output').innerHTML = data.html;
      if (data.html.length === 0) document.getElementById('html-output').innerHTML ="Your output goes here...";
    });
  });
</script>
{% endblock %}
