<!-- to be done:
 dark mode shouldn't refresh the page
 debug parser
-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A minimalist markdown editor.">
  <meta name="keywords" content="Cortex, Cortex Markdown, Cortex Markdown Editor, Markdown, Markdown Editor">
  <meta name="author" content="Aryan Sharma">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
  <title>Cortex · Markdown Editor</title>
</head>
<body>
  {% include 'navbar.html' %} {% include 'modal.html' %} {% include 'editor.html' %}
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
