<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="aboutModalContent">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutModalLabel">Cortex · Markdown Editor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="aboutModalClose">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="w-100">
              <h3>What is Cortex?</h3>
              <p>
                A simple Markdown to HTML converter built with Flask and Bootstrap. Built using the official <a href="https://www.markdownguide.org/basic-syntax/">Markdown Guide conventions</a>.
              </p>
              <h3>How does it work?</h3>
              <p>
                Click on the Editor button in the top right and start typing Markdown in the text box; the output will automatically be displayed on the right-hand side.
                When you're satisfied with your Markdown, just copy-paste it to wherever it needs to go!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>